* {
  
  margin: 0px;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-image {
  width: 250px;
}

.searchbar-container {
  display: flex;
  margin: 0px 10px;
  padding: 0;
  align-items: center;
  flex: 1;
  align-items: stretch;
}

.searchbar {
  background: white;
  padding-right: 20px;
  flex: 1;
}

.searchbar input {
  background-color: hsl(52, 90%, 49%);
  padding: 10px;
  box-shadow: 0px 5px 2px rgb(87, 106, 250);
  border-radius: 30px;
  border: none;
  width: 100%;
}

.searchbar input:focus {
  outline: none;
}

.searchbar-btn button {
  background-color: hsl(52, 90%, 49%);
  box-shadow: 3px 1px 1px 1px rgb(99, 110, 192);
  border: none;
  border-radius: 30px;
  height: 100%;
  color: rgb(10, 10, 10);
  padding: 10px 12px;
  margin-left: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  padding: 0px 10px 20px 10px;
  
  
}

@media screen and (max-width: 992px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
    
  }
}

@media screen and (max-width: 600px) {
  .pokedex-grid {
    grid-template-columns: repeat(1, 1fr);
    
  }
}

.pokemon-card {
  background-color: hsl(52, 90%, 49%);
  display: flex;
  box-shadow: 4px 4px 4px rgb(99, 110, 192);
  border-radius: 3px;
  
}

.pokemon-img-container {
  padding: 0px 5px;
}

.pokemon-img {
  
  width: 100px;
  height: 100px;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.card-body {
  background-color: hsl(185, 33%, 73%);
  box-shadow: 3px 1px 1px 1px rgb(99, 110, 192);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App {
  font-family: sans-serif;
}

.icon {
  width: 28px;
  height: 28px;
}

.pagination-btn {
  background-color: hsl(52, 90%, 49%);
  box-shadow: 3px 1px 1px 1px rgb(99, 110, 192);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pokemon-heart-btn {
  border-radius: 30px;
  background-color: hsl(52, 90%, 49%);
  box-shadow: 3px 1px 1px 1px rgb(99, 110, 192);
  
  cursor: pointer;
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

footer {
  font-family: inherit;
  background-color: rgb(87, 106, 250);
  padding: 10px;
  color: #0b0a08;
  text-align: center;
  font-size: 1.1rem;
}
footer a {
  color: #e58112;
}
